.mainRectangle{
    -fx-background-color: aquamarine;
}
.upgradeBar{
    -fx-background-color: bisque;
}
.unitContainer{
    -fx-background-color: #ffd891;
}
.infoBar{
    -fx-background-color: aquamarine;
}
.summonBar{
    -fx-background-color: bisque;
}