.mainRectangle{
    -fx-background-color: aquamarine;
}
.upgradeBar{
    -fx-background-color: bisque;
}
.unitContainer{
    -fx-background-color: #ffd891;
}
.infoBar{
    -fx-background-color: aquamarine;
}
.summonBar{
    -fx-background-color: bisque;
}
.green{
    -fx-fill: green;
}
.yellow{
    -fx-fill: yellow;
}
.orange{
    -fx-fill: orange;
}
.red{
    -fx-fill: red;
}
.musicOn{
    -fx-background-color: green;
}
.musicOff{
    -fx-background-color: grey;
}